{% extends "account_template.html" %}
{% block main %}
    <h3>Have you forgotten your password?</h3>
    <p>
        Hi {{ first_name }} {{ last_name }}! We received a password reset request from you,
        please follow the link below to reset your password.
    </p>
    <a href="{{ reset_url }}" title="Click Here to Reset Your Password">
        Click Here to Reset Your Password
    </a>
    <p>Thanks! The Keepseeds Team.</p>
    <p>
        <small>If this wasn't you, you do not need to do anything.</small>
    </p>
{% endblock %}
